*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: white;
}
:rooT{
    font-size: 20px;
    --bg-color: #003642 ;
    --green-color: #00ffbf ;
}
@keyframes loadAnimation {
    100%{
        width: 0px;
    }
}
body{
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    font-size: 1.2em;
    padding: 25px 120px;
    background-color: var(--bg-color);
    z-index: 3;
}
header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--bg-color);
    transition: .5s;
    z-index: 2;
    animation: loadAnimation 2s ease forwards;
}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
header nav a{
    text-decoration: none;
    position: relative;
    transition: .3s;
}
header nav a:hover{
    color: var(--green-color);
}
.active{
    color: var(--green-color);
}
.img-box img{
    width: 400px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: var(--green-color);
    position: relative;
    z-index: -1;
}
.img-box{
    position: relative;
}
.img-box::before{
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 2px;
    background-color: var(--bg-color);
    transition: .5s;
    animation: loadAnimation 1s ease forwards;
    animation-delay: 2.4s;
}
.box{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.box::before{
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--bg-color);
    transition: .5s;
    z-index: 2;
    animation: loadAnimation 1s ease forwards;
    animation-delay: 1.6s;
}
.box p{
    font-size: 1em;
    margin: 20px 0px;
}
.box h2{
    margin-top: 10px;
    font-size: 2em;
    color: var(--green-color);
}
.box button{
    width: 180px;
    height: 38px;
    color: white;
    cursor: pointer;
    border: 2px solid var(--green-color);
    background: none;
    border-radius: 5px;
    font-size: 1em;
    transition: .5s ;
    position: relative;
}
.box button::before{
    content:"";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    background-color: var(--green-color);
    transition: .5s;
    z-index: -1;
}
.box button:hover{
    color: black;
}
.box button:hover::before{
    width: 100%;
}
.icon-box{
    width: 25%;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.icon-box ion-icon{
    color: var(--green-color);
    cursor: pointer;
}
@media screen and (max-width : 1000px){
    body{
        flex-direction: column-reverse;
        overflow: unset;
        padding: 100px 0px;
    }
    header{
        padding: 25px 40px;
    }
    .box{
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .box::before{
        animation-delay: 2s;
    }
    .img-box::before{
        animation-delay: 1s;
    }
}